// assets/styles/_mixins.scss

@mixin soft-gradient {
  background: linear-gradient(135deg, #e4eafe 0%, #f8f9fb 85%) !important;
}

@mixin soft-shadow {
  box-shadow: $color-shadow !important;
}

@mixin card-radius {
  border-radius: 1.2rem !important;
}

@mixin section-padding {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  @media (max-width: 959px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (max-width: 599px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@mixin nuxtstarter-field-icon-colors($color) {

  .v-field__prepend,
  .v-field__prepend-inner,
  .v-field__append-inner,
  .v-field__append {
    color: $color !important;
    transition: color 0.22s cubic-bezier(0.5, 1.8, 0.5, 0.8);
  }
}